@import 'bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.title-font{
    font-family: "Montserrat", serif;
    font-weight: 700;
    font-style: normal;
   
}
.question-font{
    font-family: "Nunito", serif;
    font-weight: 500;
    font-style: normal;
    color: #222222;
    font-size: 45px;
   
}
.answer-font{
    font-family: "Nunito", serif;
    font-weight: 600;
    font-style: normal;
    color: #333333;
}
.button-font{
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    color: #FFFFFF;
    background-color: #00C897;
    &:hover{
        background-color: #009579;
    }
}
.general-bgcolor{
    background-color: #FFF8E1;
}
.section-bgcolor{
    background-color: #E3F2FD;
}

// bottoni categorie
.button-category{
    position:relative;
    display:inline-block;
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
    width: 100%;
    font-size: 28px; 
}

.button-category a{
    color:white;
    text-align: center;
    width: 100%;
    text-decoration:none;
    display:block;
    position:relative;
    padding:20px 0px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px #000;
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.button-category a:active{
    top:10px;
}

.button-category:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


// geografia
.button-geography a{ 
    background-color:#1E90FF;
    -webkit-box-shadow:inset 0 1px 0 #B3D9FF, 0 10px 0 #005A9C;
    -moz-box-shadow:inset 0 1px 0 #B3D9FF, 0 10px 0 #005A9C;
    box-shadow:inset 0 1px 0 #B3D9FF, 0 10px 0 #005A9C;
}
.button-geography a:active{
    background-color:#0077E6; 
    -webkit-box-shadow:inset 0 1px 0 #B3D9FF, inset 0 -3px 0 #005A9C;
    -moz-box-shadow:inset 0 1px 0 #B3D9FF, inset 0 -3pxpx 0 #005A9C;
    box-shadow:inset 0 1px 0 #B3D9FF, inset 0 -3px 0 #005A9C;
}

.geography-bgcolor{
    background-color: #1E90FF;
    
}


// bottoni spettacolo
.button-entertainment a{
    background-color:#FF69B4;
    -webkit-box-shadow:inset 0 1px 0 #FFC1DC, 0 10px 0 #B23C85;
    -moz-box-shadow:inset 0 1px 0 #FFC1DC, 0 10px 0 #B23C85;
    box-shadow:inset 0 1px 0 #FFC1DC, 0 10px 0 #B23C85;   
}
.button-entertainment a:active{
    background-color:#E63996;
    -webkit-box-shadow:inset 0 1px 0 #FFC1DC, inset 0 -3px 0 #B23C85;
    -moz-box-shadow:inset 0 1px 0 #FFC1DC, inset 0 -3pxpx 0 #B23C85;
    box-shadow:inset 0 1px 0 #FFC1DC, inset 0 -3px 0 #B23C85;
}

.entertainment-bgcolor{
    background-color: #FF69B4 ;
}


// bottoni storia
.button-history a{
    background-color:#FFD700;
    -webkit-box-shadow:inset 0 1px 0 #FFF4BF, 0 10px 0 #997700;
    -moz-box-shadow:inset 0 1px 0 #FFF4BF, 0 10px 0 #997700;
    box-shadow:inset 0 1px 0 #FFF4BF, 0 10px 0 #997700;
}

.button-history a:active{
    background-color:#E0B200;
    -webkit-box-shadow:inset 0 1px 0 #FFF4BF, inset 0 -3px 0 #997700;
    -moz-box-shadow:inset 0 1px 0 #FFF4BF, inset 0 -3pxpx 0 #997700;
    box-shadow:inset 0 1px 0 #FFF4BF, inset 0 -3px 0 #997700;
}

.history-bgcolor{
    background-color: #FFD700;
}



// bottoni arte e letteratura
.button-literature a{
    background-color:#8B4513;   
    -webkit-box-shadow:inset 0 1px 0 #D2A679, 0 10px 0 #5E2E0D;
    -moz-box-shadow:inset 0 1px 0 #D2A679, 0 10px 0 #5E2E0D;
    box-shadow:inset 0 1px 0 #D2A679, 0 10px 0 #5E2E0D;
}

.button-literature a:active{
    background-color:#A05A1C;
    -webkit-box-shadow:inset 0 1px 0 #D2A679, inset 0 -3px 0 #5E2E0D;
    -moz-box-shadow:inset 0 1px 0 #D2A679, inset 0 -3pxpx 0 #5E2E0D;
    box-shadow:inset 0 1px 0 #D2A679, inset 0 -3px 0 #5E2E0D;
}

.literature-bgcolor{
    background-color: #8B4513;
}


// bottoni natura e scienza
.button-science a{
    background-color:#008000;
    -webkit-box-shadow:inset 0 1px 0 #99D099, 0 10px 0 #005900;
    -moz-box-shadow:inset 0 1px 0 #99D099, 0 10px 0 #005900;
    box-shadow:inset 0 1px 0 #99D099, 0 10px 0 #005900;
}

.button-science a:active{
    background-color:#00A000;
    -webkit-box-shadow:inset 0 1px 0 #99D099, inset 0 -3px 0 #005900;
    -moz-box-shadow:inset 0 1px 0 #99D099, inset 0 -3pxpx 0 #005900;
    box-shadow:inset 0 1px 0 #99D099, inset 0 -3px 0 #005900;
}

.science-bgcolor{
    background-color: #008000;
}



// bottoni hobby e sport
.button-hobby a{
    background-color:#fa5a20;   
    -webkit-box-shadow:inset 0 1px 0 #FFA07A, 0 10px 0 #B33000;
    -moz-box-shadow:inset 0 1px 0 #FFA07A, 0 10px 0 #B33000;
    box-shadow:inset 0 1px 0 #FFA07A, 0 10px 0 #B33000;
}

.button-hobby a:active{
    background-color:#FF6347;
    -webkit-box-shadow:inset 0 1px 0 #FFA07A, inset 0 -3px 0 #B33000;
    -moz-box-shadow:inset 0 1px 0 #FFA07A, inset 0 -3pxpx 0 #B33000;
    box-shadow:inset 0 1px 0 #FFA07A, inset 0 -3px 0 #B33000;
}

.hobby-bgcolor{
    background-color: #fa5a20;
}




.button-answer{
    position:relative;
    display:inline-block;
    font-family: "Nunito", serif;
    font-weight: 600;
    font-style: normal;
    width: 100%;
    font-size: 25px; 
}


.button-answer a{ 
    color: #333333;
    background-color:#FFF8E1;
    -webkit-box-shadow:inset 0 1px 0 #FFFBEA, 0 10px 0 #CCB871;
    -moz-box-shadow:inset 0 1px 0 #FFFBEA, 0 10px 0 #CCB871;
    box-shadow:inset 0 1px 0 #FFFBEA, 0 10px 0 #CCB871;
    text-shadow: 0px !important;
    text-align: center;
    width: 100%;
    text-decoration:none;
    display:block;
    position:relative;
    padding:20px 0px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    
}

.button-answer:after{
    content:"";
    height:100%;
    width:100%;
    padding:4px;
    position: absolute;
    bottom:-15px;
    left:-4px;
    z-index:-1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}


.button-answer a:active{
    top:10px;
    background-color:#FFE8A1; 
    -webkit-box-shadow:inset 0 1px 0 #FFFBEA, inset 0 -3px 0 #CCB871;
    -moz-box-shadow:inset 0 1px 0 #FFFBEA, inset 0 -3pxpx 0 #CCB871;
    box-shadow:inset 0 1px 0 #FFFBEA, inset 0 -3px 0 #CCB871;
}

.category-name, .fa-earth-americas, .fa-masks-theater, .fa-basketball, .fa-book, .fa-flask, .fa-landmark{
    font-size: 80px;
    color: #FFF8E1;
    text-shadow: 3px 3px 0px black;
}

.question-text{
    background-color: #FFF8E1;
    padding: 20px 0px;
    border-radius: 8px;
    display: block;
    width: 100%; /* Occupa tutta la larghezza disponibile */
    white-space: nowrap; /* Impedisce il ritorno a capo */
    overflow: hidden; /* Evita che il testo vada fuori */
    text-align: center; /* Opzionale: centra il testo */
    font-size: min(5vw, 80px);
    font-family: "Nunito", serif;
    font-weight: 500;
    font-style: normal;
    color: #222222;
}
.answer-link{
    font-size: 50px;
}

.app-name{
    font-size: 70px;
}

.logo-category{
    border-radius: 50%;
    box-shadow: 5px 5px 5px #2222225c;
    width: 60%;
   
}
.container-logo{
    top: 10%;
    left: 2%;
}


.correct {
    background-color: #32cd32 !important;
    color: white !important;
    -webkit-box-shadow:inset 0 1px 0 #A0E6A0, 0 10px 0 #1E801E !important;
    -moz-box-shadow:inset 0 1px 0 #A0E6A0, 0 10px 0 #1E801E !important;
    box-shadow:inset 0 1px 0 #A0E6A0, 0 10px 0 #1E801E !important;
    text-shadow: 2px 2px 0px black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.wrong {
    background-color: #d30101 !important;
    color: white !important;
    -webkit-box-shadow:inset 0 1px 0 #FFA3A3, 0 10px 0 #730000 !important;
    -moz-box-shadow:inset 0 1px 0 #FFA3A3, 0 10px 0 #730000 !important;
    box-shadow:inset 0 1px 0 #FFA3A3, 0 10px 0 #730000 !important;
    text-shadow: 2px 2px 0px black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.flashing {
    background-color: #fff8e1db !important; 
    -webkit-box-shadow:inset 0 1px 0 #fffbeab9, 0 10px 0 #ccb871b8 !important;
    -moz-box-shadow:inset 0 1px 0 #fffbeab9, 0 10px 0 #ccb871b8 !important;
    box-shadow:inset 0 1px 0 #fffbeab9, 0 10px 0 #ccb871b8 !important;
    text-shadow: 0px !important;
    text-align: center;
    width: 100%;
    text-decoration:none;
    display:block;
    position:relative;
    padding:20px 0px; 
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    filter: dropshadow(color=#000, offx=0px, offy=1px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.disabled {
    pointer-events: none; 
}




 




